.profil {
  display: flex;
  margin : 2em;
  flex-direction: column;
  max-width: fit-content;
  margin:auto;
}

.profilContent {
  display: flex;
  flex-direction: column;
  align-items	:center;
}

h1 {
  color:red;
}